Tensorflow/models
Tensorflow/labelImg
Tensorflow/workspace/images
Tensorflow/workspace/annotations/test.record
Tensorflow/workspace/annotations/train.record
Tensorflow/workspace/pre-trained-models
Tensorflow/workspace/models/my_ssd_mobnet/train